<ion-view view-title="GALLERY">
  <ion-content overflow-scroll="false">
    
      <!--Test example text -->
      <div class="water-text-wrapper">
          <img src="img/ionic.png" alt="thumbnail" height="100" width="100" style="float: left;"/>
          <h1>Roebuck Bay, Westaustralien</h1>
          <p>Der graue Schlick in der Roebuck Bay, einer weiten Bucht an der Westküste Australiens, wird durch die Gezeitenströmungen immer wieder umgelagert. Der Tidenhub in der Bucht beträgt durchschnittlich 5 Meter. Bei Ebbe tauchen langgestreckte Inseln auf, die bei Flut wieder verschwinden.</p>
          <img src="img/ionic.png" alt="thumbnail"/>
          <p>Gezeitenströmungen treten weltweit auf. Die Karte zeigt Küsten, deren Tidenhub größer als vier Meter ist. Zum Vergleich: Der Tidenhub beträgt an der Nordsee zwei bis drei Meter, an der Ostsee durchschnittlich nur 30 Zentimeter.</p>
      </div>

  </ion-content>    
</ion-view>
