<ion-view>
  <ion-content>
    <h1>Impressum</h1>
    <div class="water-text-wrapper">
      <p>Die App »WASSER – wie es unsere Erde formt« erscheint anlässlich der gleichnamigen Fotoausstellung von Bernhard Edmaier. Sie wurde im Rahmen einer Kooperation zwischen der Ludwig-Maximilians-Universität München (LMU München) und dem Museum Mensch und Natur (MMN) entwickelt.</p>
      <p>Konzeptidee und Umsetzung:<br>
        <div class="todo">TODO: namen von uns</div>
      <p>Namen der Studenten in alphabetischer Reihenfolge
        unter Anleitung von Prof. Dr. Florian Alt und Daniel Buschek (Lehrstuhl für Angewandte Informatik und Medieninformatik, LMU)</p>

      <p>Inhalte:<br>
        Bernhard Edmaier<br>
        Dr. Angelika Jung-Hüttl<br>
        Dr. Gilla Simon (MMN)</p>

    </div>
  </ion-content>
</ion-view>
