<ion-view>
  <ion-content>
    
      <div class="water-text-wrapper">
          <h1>Impressum</h1>
          <p>Die App »WASSER – wie es unsere Erde formt« erscheint anlässlich der gleichnamigen Fotoausstellung von Bernhard Edmaier. Sie wurde im Rahmen einer Kooperation zwischen der Ludwig-Maximilians-Universität München (LMU München) und dem Museum Mensch und Natur (MMN) entwickelt.</p>
      </div>
       
      <div class="water-text-wrapper">
          <!--Namen Kontrolliern-->
          <!--Namen der Studenten in alphabetischer Reihenfolge-->
          <p>Konzeptidee und Umsetzung:
              <br />
              <br />Katharina Binder
              <br />Peter Gleixner
              <br />Alexander Kenkenberg
              <br />Maximilian Körner
              <br />Daniela Paulescu
              <br />
              <br />unter Anleitung von Prof. Dr. Florian Alt und Daniel Buschek (Lehrstuhl für Angewandte Informatik und Medieninformatik, LMU)
          </p>
      </div>

      <div class="water-text-wrapper">
          <p>Inhalte:<br>
              <br />
              Bernhard Edmaier<br>
              Dr. Angelika Jung-Hüttl<br>
              Dr. Gilla Simon (MMN)
          </p>
      </div>

  </ion-content>
</ion-view>
