<ion-view view-title="LIVE">
  <ion-content>



    <ion-slides  options="options" slider="data.slider">
      <ion-slide-page>
        <div class="slider_image" style="background:url('../img/high_res/test_01.jpg') no-repeat center center; background-size:cover"></div>
      </ion-slide-page>
      <ion-slide-page>
        <div class="slider_image" style="background:url('../img/high_res/test_02.jpg') no-repeat center center; background-size:cover"></div>
      </ion-slide-page>
      <ion-slide-page>
        <div class="slider_image" style="background:url('../img/high_res/test_03.jpg') no-repeat center center; background-size:cover"></div>
      </ion-slide-page>
    </ion-slides>
    <div style="height:500px;width:100%;text-align:center"><h1>fasdfasdfasdf</h1></div>

  </ion-content>
</ion-view>
