<ion-view view-title="GALLERY">
  <ion-content overflow-scroll="false">

    <!--Test example text -->
    <div class="water-text-wrapper">
      <div class="thumbnail">
        <img src="img/platzhalter_low_res/04.jpg" alt="thumbnail" />
      </div>
      <h1>Roebuck Bay, Westaustralien</h1>
      <hr/>
      <p>Der graue Schlick in der Roebuck Bay, einer weiten Bucht an der Westküste Australiens, wird durch die Gezeitenströmungen immer wieder umgelagert. Der Tidenhub in der Bucht beträgt durchschnittlich 5 Meter. Bei Ebbe tauchen langgestreckte Inseln auf, die bei Flut wieder verschwinden.</p>
      <img src="img/high_res/04-Tides.png" alt="thumbnail"/>
      <p>Gezeitenströmungen treten weltweit auf. Die Karte zeigt Küsten, deren Tidenhub größer als vier Meter ist. Zum Vergleich: Der Tidenhub beträgt an der Nordsee zwei bis drei Meter, an der Ostsee durchschnittlich nur 30 Zentimeter.</p>
    </div>

    <!--Test example question -->
    <div class="water-text-wrapper">
      <div class="thumbnail">
        <img src="img/high_res/test_01.jpg" alt="thumbnail"/>
      </div>
      <h1>Wasser ist der Kutscher der Natur. Es versetzt das Erdreich</h1>
      <p>Leonardo da Vinci (1452 - 1519)</p>
      <hr/>
      <p>Schon vor Jahrhunderten beschäftigten sich Naturforscher wie der berühmte italienische Universalgelehrte Leonardo da Vinci mit dem Wasser auf der Erde, mit seiner Rolle als Landschaftsgestalter.</p>
      <p>Warum hat der berühmte Naturgelehrte Leonardo da Vinci Wasser als Kutscher der Natur bezeichnet?</p>
      <button class="button button-block button-dark">
        Weil es Schiffe trägt.
      </button>
      <button class="button button-block button-dark">
        Weil man darin schwimmen kann.
      </button>
      <button class="button button-block button-dark">
        Weil es Sedimente und andere Materialien aufnehmen, transportieren und wieder absetzen kann.
      </button>
    </div>

    <!--Test example audio-->
    <div class="water-text-wrapper">
      <div class="thumbnail">
        <img src="img/platzhalter_low_res/02.jpg" alt="thumbnail" />
      </div>
      <h1>Fotoflug mit Hindernissen</h1>
      <p>Eyjafjallajökull, Island</p>
      <hr/>
      <p>Beim Ausbruch des vergletscherten Vulkans Eyjafjalla im Frühjahr 2010 schossen nicht nur dunkle Aschewolken in den Himmel, die den Flugverkehr bis in den Süden Europas lahmlegten. Die Hitze ließ über einige Wochen hinweg große Mengen Gletschereis schmelzen und verdampfen.</p>
      <hr/>
      <!--Hier irgenwo audio hinzufügen-->
      <p>Es passiert in Europa nicht so oft, dass ein vergletscherter Vulkan ausbricht. Und wenn Eis und Vulkanhitze aufeinander treffen – das hat der Eyjafjalla-Ausbruch auf Island eindrucksvoll demonstriert – dann schießen neben den dunklen Aschenwolken gigantische Dampfwolken in den Himmel.</p>
      <p>Ein ideales Motiv für unser Foto-Projekt Wasser. Denn hier hatten wir alle drei Aggregatszustände des Wasser auf einem Fleck beieinander: flüssig in Form von Schmelzwasser, fest gefroren als Gletschereis und gasförmig in den Dampfwolken.</p>
      <p>Das wollten wir aus der Luft fotografieren – deshalb hatten wir damals im Frühjahr 2010 zu Hause alles stehen und liegen gelassen und sind so schnell es ging nach Island geflogen.</p>
      <p>Den Helikopter für den Fotoflug hatten wir noch von Deutschland aus reserviert. Als wir endlich am Hubschrauber-Landeplatz ankamen, hieß es plötzlich: amtliche Anordnung, Sie dürfen nicht starten! Denn die Vulkanasche könnte die Turbine des Helikopters blockieren – es besteht Absturzgefahr. Der Pilot, der uns schon erwartet hatte, war genauso vor den Kopf gestoßen wie wir. Soll der ganze Aufwand umsonst gewesen sein?</p>
      <p>Also was tun? Wir fragten beim benachbarten Fliegerclub nach und hatten Glück. Wir trafen dort einen Piloten mit einer Cessna, einer kleinen Propellermaschine. Die durfte fliegen, weil die Vulkanasche den Propellern nicht schadet. Und die haben wir gechartert.</p>
      <p>Der Flug rund um die gewaltigen Eruptionswolken war fantastisch. Das Fotografieren aus dem kleinen Flugzeug war zwar viel schwieriger als aus einem Hubschrauber, der in der Luft fast stehenbleiben kann – aber die Bilder, die dabei herausgekommen sind, können sich trotzdem sehen lassen.</p>
    </div>


  </ion-content>
</ion-view>
