<ion-view>
  <ion-content>

    <!-- TEST IMAGE SLIDER -->


    <ion-slides  options="options" slider="data.slider">
      <!-- TODO: styling via scss not inline and switch to low res pictures -->
      <ion-slide-page>
        <div class="slider_image" style="background:url('../img/high_res/test_01.jpg') no-repeat center center; background-size:cover"></div>
      </ion-slide-page>
      <ion-slide-page>
        <div class="slider_image" style="background:url('../img/high_res/test_02.jpg') no-repeat center center; background-size:cover"></div>
      </ion-slide-page>
      <ion-slide-page>
        <div class="slider_image" style="background:url('../img/high_res/test_03.jpg') no-repeat center center; background-size:cover"></div>
      </ion-slide-page>
    </ion-slides>
    <div class="water-text-wrapper">
      <h1>Lorem ipsum dolor sit amet ...</h1>
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
    </div>

    <!-- TEST AUDIO TRACK -->

    <ion-audio-track track="myTrack" class="test water-audio">
      <div class="list list-inset">
        <div class="item item-thumbnail-left">
          <img src="{{myTrack.art}}">
          <h2>{{myTrack.title}}</h2>
          <p>{{myTrack.artist}}</p>
          <ion-audio-controls>
            <a class="button button-icon icon" ion-audio-play></a>
            <ion-spinner icon="ios"></ion-spinner>
          </ion-audio-controls>
        </div>
        <div class="item">
          <ion-audio-progress-bar track="myTrack" display-time></ion-audio-progress-bar>
        </div>
      </div>
    </ion-audio-track>


  </ion-content>
</ion-view>
