<ion-view>
  <ion-content overflow-scroll="false">

    <!-- IMAGE SLIDER TEMPLATE-->

    <ion-slides  options="options" slider="data.slider" >
      <!-- TODO: styling via scss not inline and switch to low res pictures -->
      <ion-slide-page>
        <div class="slider_image" style="background:url('../img/high_res/test_01.jpg') no-repeat center center; background-size:cover"></div>
      </ion-slide-page>
      <ion-slide-page>
        <div class="slider_image" style="background:url('../img/high_res/test_02.jpg') no-repeat center center; background-size:cover"></div>
      </ion-slide-page>
      <ion-slide-page>
        <div class="slider_image" style="background:url('../img/high_res/test_03.jpg') no-repeat center center; background-size:cover"></div>
      </ion-slide-page>
    </ion-slides>


    <!-- TEXT BOX TEMPLATE -->
    <div class="water-text-wrapper">
      <h1>Lorem ipsum dolor sit amet ...</h1>
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
    </div>


    <!-- QUIZ TEMPLATE -->
    <div class="water-text-wrapper quiz">
      <h1 class="quiz_headline">Wasser ist der Kutscher der Natur. Es versetzt das Erdreich</h1>
      <p>Schon vor Jahrhunderten beschäftigten sich Naturforscher wie der berühmte italienische Universalgelehrte Leonardo da Vinci mit dem Wasser auf der Erde, mit seiner Rolle als Landschaftsgestalter.</p>
      <p class="quiz_question">Warum hat der berühmte Naturgelehrte Leonardo da Vinci Wasser als Kutscher der Natur bezeichnet?</p>
      <div ng-show="answeredRight" class="quiz_answered answered_right">Richtig, weiter so!</div>
      <div ng-show="answeredWrong" class="quiz_answered answered_wrong">Leider falsch. Noch einen Versuch?</div>

      <button class="button button-block button-dark quiz_button right_answer" ng-click="right()">
        Weil es Schiffe trägt.
      </button>
      <button class="button button-block button-dark quiz_button wrong_answer" ng-click="wrong($event)">
        Weil man darin schwimmen kann.
      </button>
      <button class="button button-block button-dark quiz_button wrong_answer" ng-click="wrong($event)">
        Weil es Sedimente und andere Materialien aufnehmen, transportieren und wieder absetzen kann.
      </button>
    </div>







    <!-- AUDIO TRACK TEMPALTE -->
    <!-- copy from here -->
    <ion-audio-track track="myTrack" class="test water-audio" ng-show="audioAvailable">
      <div class="list list-inset">
        <div class="item item-thumbnail-left">
          <img src="{{myTrack.art}}">
          <h2>{{myTrack.title}}</h2>
          <p>{{myTrack.artist}}</p>
          <ion-audio-controls>
            <a class="button button-icon icon" ion-audio-play ng-click="test()"></a>
            <ion-spinner icon="ios"></ion-spinner>
          </ion-audio-controls>
        </div>
        <div class="item">
          <ion-audio-progress-bar track="myTrack" display-time></ion-audio-progress-bar>
        </div>
      </div>
    </ion-audio-track>
    <div class="water-text-wrapper" ng-hide="audioAvailable">
      <ion-icon name="add"></ion-icon>
      <p>Audiokommentare sind in der Ausstellung nur mit angeschlossenen Kopfhöhrern verfügbar!</p>
    </div>
    <!-- to here -->

  </ion-content>
</ion-view>
