<ion-view>
  <ion-content>

    <!-- TEST IMAGE SLIDER -->
    <h1>Wasser</h1>

    <div class="water-text-wrapper">
      <!--<img src="img/ionic.png" alt="thumbnail" height="100" width="100" style="float: left;"/> -->
      <p class="quote">„ ... Wasser ist der Kutscher der Natur.<br>
        Es versetzt das Erdreich ...“</p>
      <p>Leonardo da Vinci (1452 - 1519)</p>
    </div>

    <div class="water-text-wrapper">
      <p>Schon vor Jahrhunderten beschäftigten sich Naturforscher wie der berühmte italienische Universalgelehrte Leonardo da Vinci mit dem Wasser auf der Erde, mit seiner Rolle als Landschaftsgestalter.
      </p>
    </div>

    <div class="water-text-wrapper quiz">
      <h1>Quiz</h1>
     <p class="quiz_question">Warum hat der berühmte Naturgelehrte Leonardo da Vinci Wasser als Kutscher der Natur bezeichnet?</p>
      <div class="quiz_answered answered_right">Richtig, weiter so!</div>
      <div class="quiz_answered answered_wrong">Leider falsch.<br>Noch einen Versuch?</div>

      <button class="button button-block button-dark quiz_button right_answer" ng-click="right($event)">
        Weil es Schiffe trägt.
      </button>
      <button class="button button-block button-dark quiz_button wrong_answer" ng-click="wrong($event)">
        Weil man darin schwimmen kann.
      </button>
      <button class="button button-block button-dark quiz_button wrong_answer" ng-click="wrong($event)">
        Weil es Sedimente und andere Materialien aufnehmen, transportieren und wieder absetzen kann.
      </button>
    </div>

  </ion-content>
</ion-view>
