<ion-view>
  <ion-content overflow-scroll="false">

    <!-- TEST IMAGE SLIDER -->
    <h1>Wasser</h1>

    <div class="water-text-wrapper">
      <!--<img src="img/ionic.png" alt="thumbnail" height="100" width="100" style="float: left;"/> -->
      <p class="quote">„ ... Wasser ist der Kutscher der Natur.<br>
        Es versetzt das Erdreich ...“</p>
      <p>Leonardo da Vinci (1452 - 1519)</p>
    </div>

    <div class="water-text-wrapper">
      <p>Schon vor Jahrhunderten beschäftigten sich Naturforscher wie der berühmte italienische Universalgelehrte Leonardo da Vinci mit dem Wasser auf der Erde, mit seiner Rolle als Landschaftsgestalter.
      </p>
    </div>


<div class="todo">TODO:</div>
    <div class="water-text-wrapper">
      <p>Quizfrage:
        Warum hat der berühmte Naturgelehrte Leonardo da Vinci Wasser als Kutscher der Natur bezeichnet?
        Weil es Schiffe trägt. (☹   Noch ein Versuch?)
        Weil man darin schwimmen kann. (☹   Noch ein Versuch?)
        Weil es Sedimente und andere Materialien aufnehmen, transportieren und wieder absetzen kann. (☺   Weiter so!)</p>
    </div>

  </ion-content>
</ion-view>
