<ion-view>
  <ion-content>
    <div class="water_hero" style="background-image:url('img/high_res/Hotspot_02.jpg')" alt="thumbnail"></div>

      <div class="water-text-wrapper">
          <!--richtiges Bild einfügen-->

          <h1>Eyjafjallajökull, Island</h1>
          <p>Beim Ausbruch des vergletscherten Vulkans Eyjafjalla im Fru?hjahr 2010 schossen nicht nur dunkle Aschewolken in den Himmel, die den Flugverkehr bis in den Su?den Europas lahmlegten. Die Hitze ließ u?ber einige Wochen hinweg große Mengen Gletschereis schmelzen und verdampfen.</p>
          <hr />

          <h1>Fotoflug mit Hindernissen</h1>
          <!--Hier audio hinzufügen audio/Hotspot_02_Audio_Fotoflug_edit.mp3 -->
          <p>Es passiert in Europa nicht so oft, dass ein vergletscherter Vulkan ausbricht. Und wenn Eis und Vulkanhitze aufeinander treffen – das hat der Eyjafjalla-Ausbruch auf Island eindrucksvoll demonstriert – dann schießen neben den dunklen Aschenwolken gigantische Dampfwolken in den Himmel.</p>
          <p>Ein ideales Motiv für unser Foto-Projekt Wasser. Denn hier hatten wir alle drei Aggregatszustände des Wasser auf einem Fleck beieinander: flüssig in Form von Schmelzwasser, fest gefroren als Gletschereis und gasförmig in den Dampfwolken.</p>
          <p>Das wollten wir aus der Luft fotografieren – deshalb hatten wir damals im Frühjahr 2010 zu Hause alles stehen und liegen gelassen und sind so schnell es ging nach Island geflogen.</p>
          <p>Den Helikopter für den Fotoflug hatten wir noch von Deutschland aus reserviert. Als wir endlich am Hubschrauber-Landeplatz ankamen, hieß es plötzlich: amtliche Anordnung, Sie dürfen nicht starten! Denn die Vulkanasche könnte die Turbine des Helikopters blockieren – es besteht Absturzgefahr. Der Pilot, der uns schon erwartet hatte, war genauso vor den Kopf gestoßen wie wir. Soll der ganze Aufwand umsonst gewesen sein?</p>
          <p>Also was tun? Wir fragten beim benachbarten Fliegerclub nach und hatten Glück. Wir trafen dort einen Piloten mit einer Cessna, einer kleinen Propellermaschine. Die durfte fliegen, weil die Vulkanasche den Propellern nicht schadet. Und die haben wir gechartert.</p>
          <p>Der Flug rund um die gewaltigen Eruptionswolken war fantastisch. Das Fotografieren aus dem kleinen Flugzeug war zwar viel schwieriger als aus einem Hubschrauber, der in der Luft fast stehenbleiben kann – aber die Bilder, die dabei herausgekommen sind, können sich trotzdem sehen lassen.</p>

      </div>

  </ion-content>
</ion-view>
