<ion-view>
    <ion-content overflow-scroll="false">

        <div class="water-text-wrapper">
            <!--richtiges Bild einfügen-->
            <div class="c_thumbnail" />
             <img src="img/high_res/test_01.jpg"/>
            </div>
            <!--<div class="c_thumbnail" />
                <img src="img/high_res/test_01.jpg" alt="thumbnail" height="42" width="42"/>
            </div>-->

            <h1>Thjorsa, Island</h1>
            <p>Trübes Gletscherwasser und gelbes, eisenhaltiges Moorwasser verteilen sich im breiten Flussbett der Thjorsa, einem der größten Flüsse auf Island.</p>
            
            <!--Bilderrätsel hinzufügen-->
            <img src="img/high_res/Hotspot_03_Puzzlebild_Thjorsa.jpg" alt="thumbnail" alt="thumbnail" style="height: 100%; width: 100%;"/>
            <p>Thjorsa, Island.</p>

        </div>

    </ion-content>
</ion-view>
