<ion-view>
  <ion-content>
      <div class="water_hero" style="background-image:url('img/high_res/Hotspot_03.jpg')" alt="thumbnail"></div>

        <div class="water-text-wrapper">
            <!--richtiges Bild einfügen-->

            <h1>Thjorsa, Island</h1>
            <p>Trübes Gletscherwasser und gelbes, eisenhaltiges Moorwasser verteilen sich im breiten Flussbett der Thjorsa, einem der größten Flüsse auf Island.</p>

            <!--TODO: Bilderrätsel hinzufügen-->
            <img style="display: none;" src="img/high_res/Hotspot_03_Puzzlebild_Thjorsa.jpg" alt="thumbnail" />

        </div>

    </ion-content>
</ion-view>
