<ion-view>
    <ion-content overflow-scroll="false">

        <div class="water-text-wrapper">
            <!--richtiges Bild einfügen-->
            <img src="img/high_res/test_01.jpg" alt="thumbnail" />

            <h1>Roebuck Bay, Westaustralien</h1>
            <p>Der graue Schlick in der Roebuck Bay, einer weiten Bucht an der Westküste Australiens, wird durch die Gezeitenströmungen immer wieder umgelagert. Der Tidenhub in der Bucht beträgt durchschnittlich 5 Meter. Bei Ebbe tauchen langgestreckte Inseln auf, die bei Flut wieder verschwinden.</p>
            <hr />

            <img src="img/high_res/04-Tides.png" alt="thumbnail" />
            <p>Gezeiten über 4 Metern</p>
            <p></p>
            <!--In diese Karte bitte eintragen-->
            <p>Roebuck Bay, Australien: 5 m</p>
            <p>St. Malo, Frankreich: 12 m</p>
            <p>Bay of Fundy, Kanada: 15 m</p>
            <p>Pensinabusen, Kamtschatka: 13 m</p>
            <!--Bilderrätsel hinzufügen-->
            <p>Gezeitenströmungen treten weltweit auf. Die Karte zeigt Küsten, deren Tidenhub größer als vier Meter ist. Zum Vergleich: Der Tidenhub beträgt an der Nordsee zwei bis drei Meter, an der Ostsee durchschnittlich nur 30 Zentimeter.</p>

        </div>

    </ion-content>
</ion-view>
