<ion-view>
  <ion-content>
    <div class="water_hero" style="background-image:url('img/high_res/Hotspot_05.jpg')" alt="thumbnail"></div>

    <div class="water-text-wrapper">
      <!--richtiges Bild einfügen-->

      <h1>Perito-Moreno-Gletscher, Argentinien</h1>
      <p>Wenn Gletschereis sehr dicht ist und kaum Luftblasen enthält, schimmert es blau – wie hier an der Front des
        Perito-Moreno-Gletschers. Die Eismasse schiebt sich in den Lago Argentino, einen großen See im Süden des Landes.
        Sie zerbricht dabei in unzählige Türme, die allmählich in sich zusammen stürzen.</p>
      <hr/>
    </div>

    <div class="water_hero" style="background-image:url('img/high_res/Hotspot_05_Wechselbild_PeritoMoreno_1.jpg')"
         alt="thumbnail"></div>
    <p class="caption">Perito-Moreno-Gletscher, Argentinien</p>

    <div class="water-text-wrapper">

      <h1>Geduld, Geduld, Geduld</h1>
      <!--Hier audio hinzufügen audio/Hotspot_05_Audio_Geduld_edit.mp3 -->
      <p>Acht lange Tage saßen wir vor der Front des Perito-Moreno-Gletschers mit ihren grandiosen blauen Eistürmen und
        warteten auf den großen Knall. Immer wieder stürzten zwar kleinere Trümmer von der steilen Eiswand ins Wasser.
        Doch nur alle paar Stunden kam es tatsächlich zum Show Down – dann fielen plötzlich mehrere Eistürme
        gleichzeitig krachend in sich zusammen. Wasserfontänen schossen empor und eine Flutwelle rollte über den See.
        Die Eistrümmer schaukelten wild im Wasser, bis sie ihr Gleichgewicht gefunden hatten, und trieben dann mit der
        Strömung langsam davon.</p>
      </div>

      <div class="water_hero" style="background-image:url('img/high_res/Hotspot_05_Wechselbild_PeritoMoreno_2.jpg')"
           alt="thumbnail"></div>

      <p class="caption">Perito-Moreno-Gletscher, Argentinien</p>

    <div class="water-text-wrapper">

      <p>Einen dieser spektakulären Momente wollte Bernhard Edmaier möglichst optimal mit seiner Kamera erwischen.</p>
      <p>Wohl nirgendwo auf der Welt lässt sich das Kalben eines Gletschers so gut beobachten wie hier. Denn direkt
        gegenüber der Gletscherfront erstreckt sich eine Halbinsel in den See, in den Lago Argentino, sie ist ein
        idealer und sicherer Aussichtspunkt.</p>
      <p>Für Bernhard Edmaier waren die acht Tage auf dieser Halbinsel ein Geduldsspiel. Denn jederzeit konnte es
        losgehen. Es gab keine Vorankündigung. Er stand also permanent in Habacht-Stellung neben seiner schussfertigen
        Kamera. Die war auf ein schweres Stativ aufgeschraubt, damit sie auch bei den heftigen Böen, die hier oft an der
        Gletscherfront entlangfegten, nicht ins Wanken geriet.</p>
      <p>Ich hatte es dagegen gut. Ich kauerte mich in eine windstille Felsnische, konnte stundenlang lesen – oder
        darüber nachdenken, wie ich dieses eindrucksvolle Phänomen denn nun am besten beschreibe.</p>

    </div>

  </ion-content>
</ion-view>

