<ion-view>
  <ion-content>
      <div class="water_hero" style="background-image:url('img/high_res/Hotspot_06.jpg')" alt="thumbnail"></div>

        <div class="water-text-wrapper">
            <h1>Champagne Pool, Waiotapu, Neuseeland</h1>
            <p>Vor 900 Jahren sprengte eine Vulkanexplosion das riesige Loch aus dem Boden. Dampfschwaden steigen über dem 75 Grad Celsius heißem Quellwasser auf, das heute den Krater füllt. Dort, wo es überläuft, gedeihen orangerote Algen und Bakterienmatten und gelbe Schwefel- und Eisenmineralien setzen sich ab.</p>
        </div>

      <!--Bilderrätsel hinzufügen-->
      <div class="water_hero" style="background-image:url('img/high_res/Hotspot_06_Puzzlebild_GrandPrismaticSpring.jpg')" alt="thumbnail"></div>



    </ion-content>
</ion-view>
