<ion-view>
  <ion-content overflow-scroll="false">
    <div class="water_hero" style="background-image:url('img/high_res/Hotspot_07.jpg')" alt="thumbnail"></div>

      <div class="water-text-wrapper">
          <h1>Zentralalpen, Österreich</h1>
          <p>Eine dicke Wolkendecke – eine Föhnwalze – zieht sich über die Bergkette der Zentralalpen. Der Grund: Warme, feuchte Luftmassen strömen vom Mittelmeer Richtung Norden und werden von den Alpen zum Aufstieg gezwungen. Dort, wo sie an das Gebirge stoßen, kann es stark regnen oder schneien. Sobald sie die höchsten Gipfel überwunden haben, sinken die Wolkenmassen in die Täler ab und lösen sich auf.</p>
          <hr />

          <!--question 1 -->
          <p>Was treibt den Wasserkreislauf an?</p>
          <button class="button button-full  button-dark">
              <!--correct -->
              die Sonne
          </button>
          <button class="button button-full  button-dark">
              der Mond
          </button>
          <button class="button button-full  button-dark">
              der Wind
          </button>
          <hr />

          <!--question 2 -->
          <p>Wie lange braucht ein Regentropfen, um zu verdunsten, als Gas aufzusteigen, in einer Wolke zu kondensieren und schließlich wieder als Regentropfen auf die Erde zu fallen?</p>
          <button class="button button-full  button-dark">
              <!--correct -->
              8-10 Tage
          </button>
          <button class="button button-full  button-dark">
              1 Monat
          </button>
          <button class="button button-full  button-dark">
              3-5 Monate
          </button>

      </div>

  </ion-content>
</ion-view>
