<ion-view>
  <ion-content>

    <div class="water-text-wrapper">
        <img src="img/high_res/Hotspot_07.jpg" alt="thumbnail" />
      <h1>Zentralalpen, Österreich</h1>
      <p>Eine dicke Wolkendecke – eine Föhnwalze – zieht sich über die Bergkette der Zentralalpen. Der Grund: Warme,
        feuchte Luftmassen strömen vom Mittelmeer Richtung Norden und werden von den Alpen zum Aufstieg gezwungen. Dort,
        wo sie an das Gebirge stoßen, kann es stark regnen oder schneien. Sobald sie die höchsten Gipfel überwunden
        haben, sinken die Wolkenmassen in die Täler ab und lösen sich auf.</p>

    </div>

    <div class="water-text-wrapper quiz">
      <h1>Quizfrage 1</h1>
      <p class="quiz_question">Was treibt den Wasserkreislauf an?</p>
      <div class="quiz_answered answered_right">Richtig, weiter so!</div>
      <div class="quiz_answered answered_wrong">Leider falsch.<br>Noch einen Versuch?</div>


      <button class="button button-block button-dark quiz_button wrong_answer" ng-click="wrong($event)">
        Der Mond
      </button>
      <button class="button button-block button-dark quiz_button right_answer" ng-click="right($event)">
        Die Sonne
      </button>
      <button class="button button-block button-dark quiz_button wrong_answer" ng-click="wrong($event)">
        Der Wind
      </button>
    </div>

    <div class="water-text-wrapper quiz">
      <h1>Quizfrage 2</h1>
      <p class="quiz_question">Wie lange braucht ein Regentropfen, um zu verdunsten, als Gas aufzusteigen, in einer Wolke zu kondensieren und
        schließlich wieder als Regentropfen auf die Erde zu fallen?</p>
      <div class="quiz_answered answered_right">Richtig, weiter so!</div>
      <div class="quiz_answered answered_wrong">Leider falsch.<br>Noch einen Versuch?</div>


      <button class="button button-block button-dark quiz_button wrong_answer" ng-click="wrong($event)">
        1 Monat
      </button>

      <button class="button button-block button-dark quiz_button wrong_answer" ng-click="wrong($event)">
        3-5 Monate
      </button>
      <button class="button button-block button-dark quiz_button right_answer" ng-click="right($event)">
        8-10 Tage
      </button>
    </div>

  </ion-content>
</ion-view>
