<ion-view>
  <ion-content overflow-scroll="false">

      <div class="water-text-wrapper">
          <div class="thumbnail">
              <!--richtiges Bild einfügen-->
              <img src="img/high_res/test_01.jpg" alt="thumbnail" />
          </div>
          <h1>Costa Vicentina, Portugal</h1>
          <p>Winterstürme weit draußen im Atlantik haben diese meterhohen Wellen entstehen lassen, welche an die 20 bis 30 Meter hohen Felswände anbranden. Das Wasser dringt in jede Felsritze, spült sie aus und macht selbst hartes Gestein mit der Zeit mürbe.</p>
          <hr />

          <h1>Schon gewusst?</h1>
          <p>Die Wellen eines sturmgepeitschten Meeres – wie hier in Portugal – schlagen mit einer Wucht von bis zu 30 Tonnen auf jeden Quadratmeter an die Küste.</p>
          <p>Vor allem im Herbst und Winter, wenn heftige Stürme über den offenen Atlantik brausen,  bauen sich große Wellen auf, die 20 Meter hoch sein können, wenn sie an der Küste anbranden. Ein Stück nördlich der Costa Vicentina, in Nazaré, treffen sich dann die besonders Mutigen unter den Wellenreitern.</p>
          <p>Noch mehr Wucht als diese Sturmwellen haben die mysteriösen Monsterwellen. Diese extrem hohen und steilen Wasser-Ungetüme entstehen auf hoher See durch ein komplexes Zusammenspiel von Meeresströmung, Windstärke, Windrichtung, Wellenüberlagerung und Dünung. Monsterwellen können Höhen von mehr als 25 Metern erreichen. Wenn sie sich auf offener See überschlagen und auf ein Schiff treffen, bringen sie einen Druck von 1.000 Kilonewton auf den Quadratmeter, das entspricht etwa einem Gewicht von 100 Tonnen. Große Schiffe können beim Aufprall dieser Wassermassen zerbrechen, kleinere Schiffe können auf hoher See verschluckt oder zerschlagen werden. Glücklicherweise gibt es solche Riesenwellen nur sehr selten.</p>

      </div>

  </ion-content>
</ion-view>
