<ion-view>
  <ion-content>
      <div class="water_hero" style="background-image:url('img/high_res/Hotspot_09.jpg')" alt="thumbnail"></div>

        <div class="water-text-wrapper">
            <h1>Gullfoss, Island</h1>
            <p>Im Sommer rauschen etwa 130 Kubikmeter Wasser pro Sekunde über die beiden Felsstufen des Gullfoss, einem der spektakulärsten Wasserfälle Islands. Die enge Schlucht, welche die Wassermassen seit Ende der letzten Eiszeit vor etwa 10.000 Jahren eingeschnitten haben, ist bis zu 70 Meter tief.</p>

            <h1>Schon gewusst?</h1>
            <p>Flüsse benutzen Werkzeuge, um Täler auszuschürfen: Geröll und Sand, der ganze Schutt, den sie mitschleifen, helfen ihnen dabei, sich immer tiefer in den Untergrund einzugraben. </p>
            <p>Schon eine Fließgeschwindigkeit von 50 Zentimeter pro Sekunde genügt, um Sandkörner mitzureißen. Bei zwei Metern pro Sekunde kommen Kieselsteine in Bewegung. Das Wasser schleift sie mit, wirbelt sie immer wieder hoch und lässt sie in kleinen und großen Sätzen vorwärts springen. </p>
            <p>Alle Flüsse der Erde zusammen transportieren im Jahr geschätzt 13,5 Milliarden Tonnen Sand, Ton und Geröll ins Meer – das entspricht einem Volumen von 5.000 Kubikkilometern. Damit lassen sich etwa eine Milliarde Kieslaster füllen – oder 100 Mal der Bodensee.</p>

        </div>

    </ion-content>
</ion-view>
