<ion-view>
  <ion-content>
      <div class="water_hero" style="background-image:url('img/high_res/Hotspot_10.jpg')" alt="thumbnail"></div>

        <div class="water-text-wrapper">

            <h1>Vulkan Isluga, Anden, Chile</h1>
            <p>Schwefelgase machen den Wasserdampf, der aus dem Krater des Vulkans Isluga steigt, ätzend. Das Gestein, das die Schwaden durchströmt, wird allmählich zersetzt.</p>
            <hr />

            <h1>Nicht ohne Sauerstoff</h1>
            <!--Hier audio hinzufügen audio/Hotspot_10_Audio_Sauerstoff_edit.mp3 -->
            <p>Es ist nicht einfach, in den Chilenischen Anden Luftaufnahmen zu machen. Denn viele Berggipfel ragen weit über 4.000 Meter hoch in den Himmel. Der Vulkan Isluga zum Beispiel mit seinem schwefelgelben dampfenden Krater ist 5.500 Meter hoch. Wir waren nochmal ein paar Hundert Meter höher, als wir seinen Gipfel in einem kleinen Flieger umkreisten. Dort ist es eiskalt und der Sauerstoff in der Luft ist knapp.</p>
            <p>In den großen Verkehrsflugzeugen ist das kein Problem. In den Druckkabinen wird immer genug Sauerstoff für alle Passagiere in die Luft gepumpt. Aber in den kleinen Fliegern wie unsere Sechs-Sitzer-Cessna – da mussten neben all unserem Gepäck und der Fotoausrüstung auch noch vier große Sauerstoffflaschen untergebracht werden, eine für unseren Piloten, eine für den Copiloten – und je eine für Bernhard Edmaier und mich. Dicke Schläuche wanden sich von den Flaschen durch den Innerraum des kelinen Fliegers zu den Sauerstoffmasken auf unseren Gesichtern.</p>
            <p>Für Bernhard Edmaier hieß das wieder einmal: Fotografieren unter erschwerten Bedingungen. Dick angezogen mit Daunen-Anorak und Handschuhen, eingezwängt in den schmalen Sitz – und mit Sauerstoffmaske vor Mund und Nase, schob er Kopf und Kamera immer wieder an das kleine aufgeklappte Fenster heran. Der starke, eiskalte Wind, der ihn durch das offene Fenster ins Gesicht schlug, trieb ihm die Tränen aus den Augen, so dass auch noch seine Brille verklebte. Alles egal. Wichtig in dem Moment war nur der dampfende Krater des Isluga-Vulkans im Visier der Kamera.</p>

        </div>

    </ion-content>
</ion-view>
