<ion-view>
  <ion-content>
      <div class="water_hero" style="background-image:url('img/high_res/Hotspot_11.jpg')" alt="thumbnail"></div>

        <div class="water-text-wrapper">
            <h1>Viedma Gletscher, Patagonien, Argentinien</h1>
            <p>Der 35 Kilometer lange Viedma-Gletscher zieht sich von der südlichen Eiskappe der südamerikanischen Anden hinunter zum Viedma-See, der überwiegend vom Schmelzwasser des Gletschers gespeist wird. Die vielen parallelen Moränenbänder zeigen, dass sich in der Eismasse des Gletschers mehrere Eiszungen vereinigt haben.</p>

            <h1>Schon gewusst?</h1>
            <p>Woher kommt der viele Schutt auf dem Eis der Gletscher? Auch er wird vom Wasser verursacht – nämlich von dem Wasser, das in die engen, oft nur haarfeinen Risse ins Gestein eingesickert ist. Es kann das Gestein sprengen, sobald die Temperaturen in seiner Umgebung unter den Gefrierpunkt sinken. Dann wird dieses Kluftwasser zu Eis. Bei der Umwandlung dehnt es sich aus und drückt gegen das Gestein, je kälter es wird, desto stärker. Bei minus 10 Grad Celsius liegt der Druck bei 1.150 Kilogramm auf den Quadratzentimeter Fels, bei minus 20 Grad Celsius sind es schon 2.000 Kilogramm. Die Folge: Der Fels wird mürbe und zerbricht allmählich. Die Trümmer stürzen auf das Eis, das talwärts kriecht, und werden abtransportiert.</p>

        </div>

    </ion-content>
</ion-view>

