<ion-view>
    <ion-content overflow-scroll="false">

        <div class="water-text-wrapper">
            <div class="thumbnail">
                <!--richtiges Bild einfügen-->
                <img src="img/high_res/test_01.jpg" alt="thumbnail" />
            </div>
            <h1>Engare Ngiro, Kenia</h1>
            <p>Engare Ngiro, der „braune Fluss“, ist der wichtigste Zufluss des Lake Natron, einem der großen Salzseen im Ostafrikanischen Graben. Er hat ein Delta aufgeschüttet.</p>
            <hr />

            <!--question 1 -->
            <p>Woher kommt das Salz im Meer?</p>
            <button class="button button-full  button-dark">
                <!--correct -->
                Salze werden aus dem Boden und dem Gestein herausgewaschen.
            </button>
            <button class="button button-full  button-dark">
                Regenwasser ist salzig. 
            </button>
            <button class="button button-full  button-dark">
                Riesige Frachtschiffe verlieren einen Teil ihrer geladenen Salz-Säcke. 
            </button>
            <hr />

            <!--question 2 -->
            <p>Wie viel Sand, Ton und Geröll wird von allen Flüssen der Erde jährlich ins Meer transportiert?</p>
            <button class="button button-full  button-dark">
                ca. eine Tonne 
            </button>
            <button class="button button-full  button-dark">
                <!--correct -->
                ca. 13,5 Milliarden Tonnen 
            </button>
            <button class="button button-full  button-dark">
                ca. 100 Milliarden Tonnen 
            </button>

        </div>

    </ion-content>
</ion-view>