<ion-view>
  <ion-content>

        <div class="water-text-wrapper">
            <!--richtiges Bild einfügen-->
            <img src="img/high_res/test_01.jpg" alt="thumbnail" />
            <h1>WASSER – und der Klimawandel</h1>
            <p>Der Klimawandel, die weltweit steigenden Temperaturen, verändert die Verteilung von flüssigen und gefrorenem Wasser, sowie von Wasserdampf auf der Erde. Viele Beobachtungen in verschieden Regionen unseres Planeten und Modellrechnungen deuten klar darauf hin: Die Erderwärmung heizt den Wasserkreislauf an. Mehr Wasser aus den Ozeanen verdunstet, mehr Niederschläge fallen über Land und damit nimmt auch der Abfluss des Wassers zu. Die Klimagürtel der Erde verschieben sich.</p>

            <!--Simulation Meeresspiegelanstieg-->

        </div>

    </ion-content>
</ion-view>
