<ion-view>
    <ion-content overflow-scroll="false">

        <div class="water-text-wrapper">
            <!--richtiges Bild einfügen-->
            <img src="img/high_res/test_01.jpg" alt="thumbnail" />

            <h1>Triftgletscher, Berner Alpen, Schweiz</h1>
            <p>Der Triftgletscher gehört zu den Eismassen in den Alpen, die besonders schnell zurückschmelzen. Seine Zunge wurde in den Jahren 2004 und 2005 um 216 Meter kürzer. Am Rand der Gletschermasse, die an Steilstufen völlig zerreißt, stürzt Schmelzwasser in mächtigen Bächen über die Felsen zu Tal.</p>
            <hr />

            <!--Bilder tauschen mit click oder timer-->
            <img src="img/high_res/Hotspot_15_Wechselbild_Morteratsch_2003_1.jpg" alt="thumbnail" />
            <img src="img/high_res/Hotspot_15_Wechselbild_Morteratsch_2003_2.jpgg" alt="thumbnail" />
            <hr/>

            <h1>Schon gewusst?</h1>
            <p>Seit Beginn der Industrialisierung um 1850 bis Mitte der 1970er Jahre verloren die Alpengletscher durchschnittlich etwa ein Drittel ihrer Gesamtfläche und die Hälfte ihres Volumens. Seitdem sind weitere 20 bis 30 Prozent des Eisvolumens geschmolzen.</p>

        </div>

    </ion-content>
</ion-view>
