<ion-view>
  <ion-content>

    <div class="water-text-wrapper">
        <img src="img/high_res/Hotspot_15.jpg" alt="thumbnail" />
      <h1>Triftgletscher, Berner Alpen, Schweiz</h1>
      <p>Der Triftgletscher gehört zu den Eismassen in den Alpen, die besonders schnell zurückschmelzen. Seine Zunge
        wurde in den Jahren 2004 und 2005 um 216 Meter kürzer. Am Rand der Gletschermasse, die an Steilstufen völlig
        zerreißt, stürzt Schmelzwasser in mächtigen Bächen über die Felsen zu Tal.</p>
          
    </div>

      <!--Bilder tauschen mit click oder timer-->
      <div class="water-text-wrapper">
          <img src="img/high_res/Hotspot_15_Wechselbild_Morteratsch_2003_1.jpg" alt="thumbnail" />
          <img src="img/high_res/Hotspot_15_Wechselbild_Morteratsch_2011_2.jpg" alt="thumbnail" />
          <p>Morteratsch-Gletscher, Graubünden, Schweiz; aufgenommen im Jahr 2003</p>
      </div>

    <div class="water-text-wrapper">

      <h1>Schon gewusst?</h1>
      <p>Seit Beginn der Industrialisierung um 1850 bis Mitte der 1970er Jahre verloren die Alpengletscher
        durchschnittlich etwa ein Drittel ihrer Gesamtfläche und die Hälfte ihres Volumens. Seitdem sind weitere 20 bis
        30 Prozent des Eisvolumens geschmolzen.</p>

    </div>

  </ion-content>
</ion-view>
