<ion-view>
    <ion-content overflow-scroll="false">

        <div class="water-text-wrapper">
            <!--richtiges Bild einfügen-->
            <img src="img/high_res/test_01.jpg" alt="thumbnail" />

            <h1>Lenadelta 01, Jakutien, Russland</h1>
            <p>Aufgrund des Klimawandels tauen die Permafrostböden nicht nur im Lenadelta, sondern überall in der Arktis während der kurzen Sommermonate immer stärker auf.  Auch tiefer liegende Schichten und die darin eingebettete und über Jahrhunderte eingefrorene Tundravegetation schmelzen. Die Pflanzenreste beginnen sich zu zersetzen. Dabei entstehen und entweichen Treibhausgase, Kohlendioxid und Methan, was den globalen Temperaturanstieg beschleunigt.</p>
            <hr />

            <!--Bilderrätsel hinzufügen-->
            <img src="img/high_res/Hotspot_16_Puzzlebild_Lenadelta.jpg " alt="thumbnail" />
            <hr/>

            <h1>Schon gewusst?</h1>
            <p>Weltweit sind mehr als 36 Millionen Quadratkilometer Boden das ganze Jahr über gefroren – das sind 25 Prozent der Landoberfläche auf der Erde. Am tiefsten reicht der Dauerfrost auf der Nordhalbkugel in Zentral-Jakutien in der russischen Arktis – nämlich 1.600 Meter tief.</p>

        </div>

    </ion-content>
</ion-view>