<ion-view>
  <ion-content>

        <div class="water-text-wrapper">
            <img src="img/high_res/Hotspot_17.jpg" alt="thumbnail" />
            <h1>Meereis, Ostgrönland</h1>
            <p>Mit der zunehmenden Erderwärmung zieht sich auch die Meereisdecke auf dem Arktischen Ozean im Sommer immer weiter zurück. Viele blaugrüne Schmelzwasserseen entstehen auf dem Eis. Sie absorbieren mehr Sonnenwärme als das kompakte Eis und fördern so den Schmelzprozess.</p>

            <h1>Schon gewusst?</h1>
            <p>Seit 1979 wird der klimabedingte Rückgang des Meereises auf dem arktischen Ozean mit Hilfe von Satelliten überwacht.</p>
            <p>Im Sommer 2008 hatte sich die Meereisdecke am Nordpol erstmals soweit zurückgezogen, dass sowohl die Nordost- als auch die Nordwestpassage im Prinzip schiffbar waren.</p>
            <p>Modellrechnungen zufolge könnte der arktische Ozean in den nächsten 50 bis 70 Jahren im Sommer ganz eisfrei sein.</p>

        </div>

    </ion-content>
</ion-view>
