<ion-view>
    <ion-content overflow-scroll="false">
      <div class="water_hero" style="background-image:url('img/high_res/Hotspot_18.jpg')" alt="thumbnail"></div>

        <div class="water-text-wrapper">
            <h1>Johan-Petersen-Fjord, Ostgrönland</h1>
            <p>Mehrere Gletscherzungen schieben sich vom grönländischen Inlandeis ins Wasser des Johan-Petersen-Fjords, der nur wenige Kilometer nördlich des Polarkreises liegt. Alle diese Gletscher weichen aufgrund des Klimawandels zurück – und legen dabei immer mehr vom 3 Milliarden Jahre alten Grundgebirge der Insel frei, das zu den ältesten in Europa zählt.</p>
            <hr />

            <!--question 1 -->
            <p>Woher rührt der Meeresspielanstieg?</p>
            <button class="button button-full  button-dark">
                Abschmelzen von Gebirgsgletschern
            </button>
            <button class="button button-full  button-dark">
                <!--correct -->
                Abschmelzen von Gebirgsgletschern und polares Eis sowie thermische Ausdehnung des Wassers
            </button>
            <button class="button button-full  button-dark">
                Wasserzufluss durch heftige Gewitter
            </button>
            <hr />

            <!--question 2 -->
            <p>Welches natürliche Ereignis kann das Klima auf der Erde über Jahre hinweg abkühlen?</p>
            <button class="button button-full  button-dark">
                ein Erdbeben
            </button>
            <button class="button button-full  button-dark">
                ein Schneesturm
            </button>
            <button class="button button-full  button-dark">
                <!--correct -->
                ein Vulkanausbruch
            </button>

        </div>

    </ion-content>
</ion-view>
