<ion-view>
  <ion-content>

    <div class="water-text-wrapper">
        <img src="img/high_res/Hotspot_18.jpg" alt="thumbnail" />
      <h1>Johan-Petersen-Fjord, Ostgrönland</h1>
      <p>Mehrere Gletscherzungen schieben sich vom grönländischen Inlandeis ins Wasser des Johan-Petersen-Fjords, der
        nur wenige Kilometer nördlich des Polarkreises liegt. Alle diese Gletscher weichen aufgrund des Klimawandels
        zurück – und legen dabei immer mehr vom 3 Milliarden Jahre alten Grundgebirge der Insel frei, das zu den
        ältesten in Europa zählt.</p>
    </div>


    <div class="water-text-wrapper quiz">
      <h1>Quizfrage 1</h1>
      <p class="quiz_question">Woher rührt der Meeresspielanstieg?</p>
      <div class="quiz_answered answered_right">Richtig, weiter so!</div>
      <div class="quiz_answered answered_wrong">Leider falsch.<br>Noch einen Versuch?</div>


      <button class="button button-block button-dark quiz_button right_answer" ng-click="right($event)">
        Abschmelzen von Gebirgsgletschern und polares Eis sowie thermische Ausdehnung des Wassers
      </button>
      <button class="button button-block button-dark quiz_button wrong_answer" ng-click="wrong($event)">
        Abschmelzen von Gebirgsgletschern
      </button>
      <button class="button button-block button-dark quiz_button wrong_answer" ng-click="wrong($event)">
        Wasserzufluss durch heftige Gewitter
      </button>
    </div>

    <div class="water-text-wrapper quiz">
      <h1>Quizfrage 2</h1>
      <p class="quiz_question">Welches natürliche Ereignis kann das Klima auf der Erde über Jahre hinweg abkühlen?</p>
      <div class="quiz_answered answered_right">Richtig, weiter so!</div>
      <div class="quiz_answered answered_wrong">Leider falsch.<br>Noch einen Versuch?</div>


      <button class="button button-block button-dark quiz_button wrong_answer" ng-click="wrong($event)">
        ein Schneesturm
      </button>
      <button class="button button-block button-dark quiz_button wrong_answer" ng-click="wrong($event)">
        ein Erdbeben
      </button>
      <button class="button button-block button-dark quiz_button right_answer" ng-click="right($event)">
        ein Vulkanausbruch
      </button>
    </div>

  </ion-content>
</ion-view>
